<%- include('pages/header'); -%>
<link rel="stylesheet" href="../css/search-ideas.css">	
<%- include('pages/nav'); -%>
		
	<!-- Top Content -->
		<section id="top-content">

			<div class="content-box-lg">

				<div class="container">

					<div class="row">

						<div class="col-md-12 wow fadeIn">

							<div id="top-heading" class="text-center">

								<h3>Search Ideas</h3>
								
							</div>

						</div>

					</div>

				</div>

			</div>

		</section>
	<!-- Top Content Ends -->
			
	<!-- Title -->
	<div class="container">
		<div class="content-box-lg text-left">
			<h3 class="heading">Search and Filter ideas</h3>
		</div>
	</div>
				
	<!-- Forms -->
	<section id="forms">

		<div class="content-box-lg">

			<div class="container">
                
                <!-- Basic Profile Form -->
                <form class="myForm text-left" method="POST">
				<div class="row">
					
					<div class="col-md-12 col-sm-12 first">
            <h3 class="heading mb-3">Search Ideas</h3>
								<div class="form-group">
									
									<input class="myInput" placeholder="Search notes here..." type="search" id="search" value="">
									<span toggle="#search" class="fa fa-search field-icon toggle-password text-left"></span>
									
								</div>
							
					</div>


					<div class="col-md-12 col-sm-12 second">
           				 <h3 class="heading mb-3"> Filter Ideas</h3>
								<div class="row">
								
									<div class="col-md-2 col-sm-4" style="padding: 0 10px 0 0">
										<div class="form-group">
											<div class="select-type">
											<select class="myInput" id="select_category" name="select_category" required>
												<option selected disabled>Select category</option>
												<option>Art</option>
													<option>Food</option>
													<option>Decoration</option>
													<option>Animals</option>
												
											</select>
										</div>
											
											
										</div>
									</div>
								
									<div class="col-md-2 col-sm-4" style="padding: 0 10px">
										<div class="form-group">
											<select class="myInput" id="type" name="type" required>
											<option selected disabled>Select type</option>
											<option>Free</option>
											<option>Paid</option>
										</select>
										</div>
										
									</div>
								
									<div class="col-md-2 col-sm-4" style="padding: 0 10px">
										<div class="form-group">
										<select class="myInput" id="select_views" name="select_university" required>
											<option selected disabled>Select No. of viewed</option>
											<option>less then 100</option>
											<option>100 to 200</option>
											<option>200 to 500</option>
											<option>mor then 500</option>
											
										</select>
									    </div>
                                    </div>
								
                                    <div class="col-md-2 col-sm-4" style="padding: 0 10px">
                                        <div class="form-group">
                                        <select class="myInput" id="select_price" name="select_price" required>
                                                <option selected disabled>Select Price</option>
                                                <option>0 to 100$</option>
                                                <option>100$ to 500$</option>
                                                <option>More then 500$</option>

                                            </select>
										</div>
                                    </div>

                                    <div class="col-md-2 col-sm-4" style="padding: 0 10px">
                                    <div class="form-group">
                                        <select class="myInput" id="country" name="country" required>
                                                <option selected disabled>Select country </option>
												<option>India</option>
												<option>UK</option>
												<option>United State</option>
												<option>Australia</option>
												<option>Canada</option>

                                            </select>
</div>
                                    </div>

                                    <div class="col-md-2 col-sm-4" style="padding: 0 0 0 10px">
                                    <div class="form-group">

                                        <select class="myInput" id="select_rating" name="select_rating" required>
                                                <option selected disabled>Select rating</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>

                                            </select>
</div>
                                    </div>
								
								
								</div>

					</div>

				</div>
                </form>

			</div>

		</div>

	</section>

	<!-- Forms Ende-->


	<!-- Notes -->
	<section id="search-notes">

		<div class="content-box-lg">

			<div class="container">

				<div class="row">

					<div class="col-md-12 col-sm-12">
						<h3 class="heading">total 18 ideas</h3>
					</div>
				
				</div>	
					
				<h1>latest idea</h1>

				<!-- Search Notes List -->
				<div class="row">
						
					<!-- note-01 -->
					<div class="col-lg-4 post">
							<img class="card-img-top search_post_image " src="../images/usb-rechargeable-batteries1.jpg" alt="...">
              <hr>
              <div class="card-body">
							  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							</div>
					</div>
					
					
					<!-- note-02 -->
					<div class="col-lg-4 post ">
						<img class="search_post_image"  src="../images/steps-with-slides.jpg" class="card-img-top" alt="...">
            <hr>
            <div class="card-body">
						  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
				</div>
					
					<!-- note-03 -->
					<div class="col-lg-4 post">
							<img class="search_post_image" src="../images/usb-rechargeable-batteries1.jpg" class="card-img-top" alt="...">
              <hr>
              <div class="card-body">
							  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							</div>
					</div>
        </div>
        
        <div class="row">
						
					<!-- note-01 -->
					<div class="col-lg-4 post">
							<img class="card-img-top search_post_image " src="../images/usb-rechargeable-batteries1.jpg" alt="...">
              <hr>
              <div class="card-body">
							  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							</div>
					</div>
					
					
					<!-- note-02 -->
					<div class="col-lg-4 post ">
						<img class="search_post_image"  src="../images/steps-with-slides.jpg" class="card-img-top" alt="...">
            <hr>
            <div class="card-body">
						  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
				</div>
					
					<!-- note-03 -->
					<div class="col-lg-4 post">
							<img class="search_post_image" src="../images/usb-rechargeable-batteries1.jpg" class="card-img-top" alt="...">
              <hr>
              <div class="card-body">
							  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							</div>
					</div>
				</div>
				<div class="row">
        
					<div class="row">
						
            <!-- note-01 -->
            <div class="col-lg-4 post">
                <img class="card-img-top search_post_image " src="../images/usb-rechargeable-batteries1.jpg" alt="...">
                <hr>
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            
            
            <!-- note-02 -->
            <div class="col-lg-4 post ">
              <img class="search_post_image"  src="../images/steps-with-slides.jpg" class="card-img-top" alt="...">
              <hr>
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
          </div>
            
            <!-- note-03 -->
            <div class="col-lg-4 post">
                <img class="search_post_image" src="../images/usb-rechargeable-batteries1.jpg" class="card-img-top" alt="...">
                <hr>
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
          </div>
          <div class="row">
				
				
				
				<!-- Pagination -->
				<div class="row text-center">

					<div class="col-md-12 col-sm-12" id="pagination">
						
							<a href="#"><span>1</span></a>
							<a href="#"><span>2</span></a>
							<a href="#"><span>3</span></a>
							<a href="#"><span>4</span></a>
							<a href="#"><span>5</span></a>
							
							
					</div>
				
				</div>	

			</div>

		</div>

	</section>
	<!--  Ends -->

	<!-- Footer -->
	<footer>

		<div class="content-box-lg">
			<div class="container">
				<div class="row copyright">

						<div class="col-md-6">
						<p class="pera">
							Copyright &copy; 2021 Innovative Hub All Rights Reserved.
						</p>
					</div>

					<div class="col-md-6 justify-content-end">
						<ul class="social-list ">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>

				</div>
			</div>
		</div>

	</footer>
	<!-- Footer Ends -->

	<!-- User Profile Ends -->

	<!-- Add jquery-->
	<script src="../js/jquery.min.js"></script>

	<!-- jquery UI-->
	<script src="../js/jquery-ui/jquery-ui.js"></script>

	<!-- Bootstrap js -->
	<script src="../js/bootstrap/bootstrap.min.js"></script>
	
	<!-- DataTable JS -->
    <script src="../js/DataTables/datatables.js"></script>

	<!-- Custom JS -->
	<script src="../js/script.js"></script>

</body>

</html>